<nav class="pagination" role="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="/" title="Önceki Sayfa">&laquo; Yeni Yazılar</a>
        {% else %}
            <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Önceki Sayfa">&laquo; Daha Yeni Yazılar</a>
      {% endif %}
    {% endif %}
    <span class="page-number"> Sayfa {{paginator.page}} / {{paginator.total_pages}} </span>
    {% if paginator.next_page %} 
        <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Sonraki Sayfa">Daha Eski Yazılar &raquo;</a>
    {% endif %} 
</nav>